html
  head
    title= title
    //<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    //<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    //<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    //script(src="https://unpkg.com/vuex@2.0.0")
    //<script src="https://unpkg.com/browser-cjs/require.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="/css/add_app.css" rel="stylesheet"/>
  body
    include pings_list.pug
    include components/add_app.pug
    .app
        user_info
        block view
    //script.
        let funql = require('https://cdn.jsdelivr.net/npm/funql-api@1.2.11/client.cjs.js')
        let fql = funql.default(window.location.origin,{
            debug(){
                return function(){
                    console.log.apply(this,arguments)
                }
            }
        })
        const initialData = JSON.parse(`!{JSON.stringify(data)}`)
        Vue.prototype.$initialData = initialData
        document.querySelectorAll('template.component').forEach(s=>{
            eval(s.innerHTML.split('<script>').join('').split('</\script>').join(''))
        })
    //script(src="/js/store.js")
    script(src="/bundle.js")