template.pings_list
    div {{items}}
template.component
    script.
        Vue.component('pings_list',{
            template: document.querySelector('.pings_list').innerHTML,
            data(){
                return {
                    items: this.$initialData.apps
                }
            },
            mounted(){
                
            }
        })