<template lang="pug">
    div
        h1 hola
</template>
<script>
export default {
    mounted(){
        console.log('UserInfo')
    }    
}
</script>
<style lang="scss" scoped>
 h1{
     background-color:red;
     padding:20px;
     color:white;
     font-weight: bold;
 }
</style>
