template.add_app
    .add_app.form.container-fluid
        .row.gy-1
            .col-12
            .col-12.col-md-6
                label.d-block.mr-2 NAME
                input(v-model="name")
            .col-12
                label.d-block.mr-2 URL
                input.url(v-model="url")
            .col-12.col-md-6.d-flex.align-items-end
                button(@click="saveApplication") Save
template.component
    script.
        Vue.component('add_app',require('/js/add_app.js'))